.bars {
    font-size: 35px;
    color: white;
}
nav {
    color: white;
    z-index: 9999;
    width: 100%;
}
.menu nav {
    background: #171d22;
    color: #fff;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    min-width: 320px;
    max-height: 100%;
    z-index: 9999;
    transform: translate3d(0px, 0px, 0px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}
.nav-header {
    padding: 30px 25px;
}
.nav-menu li {
    position: relative;
    display: block;
    border-top: 1px solid rgb(255 255 255 / 10%);
}
.menu .nav-menu li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-top-color: rgb(97, 28, 28);
    z-index: 99;
}
.menu li > a:hover {
    color: orange;
}
.container-nav {
    width: 100%;
}
.header_change {
    position: fixed;
    background-color: rgb(43, 42, 42);
    width: 100%;
    z-index: 2;
    transition: 3s;
}
@media screen and (max-width: 940px) {
    .header_change {
        position: relative;
        background-color: transparent;
    }
}
.scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 105%;
    right: 50px;
    font-size: 16px;
    border-radius: 50%;
    z-index: 99;
    color: #171d22;
    text-align: center;
    cursor: pointer;
    transition: 1s ease;
    border: none;
    opacity: 0;
}
.scroll_open {
    bottom: 30px;
    opacity: 1;
}
.scroll-top:hover {
    background: #171d22;
    color: #fff;
}

/**Xl fix**/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .nav-li {
        /*background: blue;*/
        margin: 0 30px;
        font-weight: 900;
    }
    .footer-menu nav .navigation li a {
        display: flex;
        text-transform: uppercase;
        color: #c3c3c3;
        font-weight: 700;
        /* padding: 10px 10px; */
        line-height: 1;
        font-size: 11px;
    }
    .footer-menu nav .navigation li a:hover {
        color: orange;
    }
    .footer-menu nav .navigation li {
        margin-right: 4px;
        /* margin-left: -10px; */
    }
}
/**XXL FIX*/

@media screen and (min-width: 1300px) and (max-width: 3000px) {
    .nav-li {
        /* background: blue; */
        margin: 30 30px;
        font-weight: 900;
        color: red;
    }
}
.nav-item a {
    color: white;
    padding: 10px;
    margin: 5px;
}
.nav-item a:hover {
    color: rgb(196, 193, 192);
    transition: 1s;
}
.activeButton {
    color: red;
}

@media screen and (min-940px) {
    .nav-li .nav-item a {
        /* display: hidden; */
        color: red;
    }
}

/* //custom css */

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: #2b96cc;
    text-decoration: none;
}
a,
button {
    color: #1696e7;
    outline: medium none;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #bcbcbc;
    margin-bottom: 15px;
}
hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}
label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
.theme-overlay {
    position: relative;
}
.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
.separator {
    border-top: 1px solid #f2f2f2;
}
