img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.display-3 {
    line-height: 1.2;
}
.display-4 {
    line-height: 1.2;
    letter-spacing: -.02em;
}
h1 {
    font-size: 2.5125rem;
    font-weight: 800;
}

.lead {
    font-size: 1.3125rem;
    font-weight: 400;
    color: white;
    padding-top: 10px;
}
.lead-1 {
    font-size: 1.3125rem;
    font-weight: 600;
    /* color: white; */
}

.font-weight-bold {
    font-weight: 700!important;
}

h2 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}