<div class="w-full h-full">
    <div class=" w-full h-[120vh] flex items-center justify-center">
        <div class="w-[90%] h-full border-red-400">
         <div class="w-full h-full">
            <div class="flex flex-wrap lg:flex-nowrap h-[100vh]">
                <div class="flex flex-col w-[100%] lg:w-[50%]  h-full ">
                    <div class="h-[30%] flex items-center justify-center">
                        <h1 class="lg:w-[80%] display-3 text-white font-weight-bold">The most trusted &amp; secure crypto wallet</h1>
                    </div>
                    <div class="form flex justify-center">
                        <!-- <form #cryptoForm class="w-[80%]" (ngSubmit)="login()">
                            <input placeholder="Active password " type="password
                            " class="w-[30vw] h-[5vh] rounded-lg p-4 " id="active-password" #activePassword/><br><br>

                            <input placeholder="OTP Code" type="text" class="w-[30vw] h-[5vh] rounded-lg p-4" #otp />
                            <br><br>
                            <button type="submit" class="p-4 bg-blue-900 rounded-md px-8 text-white">Submit</button>
                        </form>
                        <p class="text-red-400">{{activePassword.value}}</p> -->
                        <form class="w-[80%]" #loginForm="ngForm" (ngSubmit)="login()">
                            <!-- Active password -->
                            <div class="mb-6 w-[30vw] h-[5vh]">
                                <input type="password" name="ActivePassword" [(ngModel)]="credentials.ActivePassword"
                                 #password="ngModel"
                                 placeholder="Active Password" class="block w-full py-1.5 px-3  text-blue-400 border-2 border-gray-400 transition
                                duration-500 focus:outline-none rounded bg-white
                                focus:border-indigo-400" 
                                required 
                                 />
                                 <p *ngIf="password.errors && password.touched && password.dirty" class="text-red-400">
                                    Enter Password
                                  </p>
                            </div>
                            <!-- OTP -->
                            <div class="mb-6 w-[30vw] h-[5vh]">
                                <input type="password" name="password" [(ngModel)]="credentials.password"
                                 #Activepassword="ngModel"
                                 placeholder="OTP" class="block w-full py-1.5 px-3  text-blue-400 border-2 border-gray-400 transition
                                duration-500 focus:outline-none rounded bg-white
                                focus:border-indigo-400" 
                                required 
                                 />
                                 <p *ngIf="Activepassword.errors && Activepassword.touched && Activepassword.dirty" class="text-red-400">
                                    OTP required
                                  </p>
                            </div>
                          

                            <button type="submit" [disabled]="loginForm.invalid"
                                class="blockp-4 bg-blue-900 rounded-md px-8 text-white py-1.5 transition
                                 hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
                                 Submit
                            </button>
                        </form>
                        <!-- <div>{{ loginForm.valid}}</div>  -->
                    </div>
                    <!-- <div>{{ loginForm.autocomplete }}</div>  -->
                        
                    
                </div>
                <div class="flex  w-[100%]lg:w-[50%]">
                    <img src="../../../assets/home_hero.png" class="object-contain"/>
                </div>
            </div>
         </div>
        </div> 
    </div>
</div>

